<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>For Employee Use Only!</h1>

            <form>
                <label for="city">
                  <input type="text" name="city" value="" required>
                </label>

                <label for="state">
                  <input type="text" name="state" value="" required>
                </label>

                <label for="zip">
                  <input type="number" name="zip" value="" required>
                </label>

                <label for="flip">
                  <input type="number" name="flip" value="" required>
                </label>
            </form>

        </div>
    </div>
</div>