<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Flip Search</title>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link rel="stylesheet" href="/static/assets/css/style.css">
</head>
<body>
    {{{body}}}
</html>