<div class="container">
    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>For Employee Use Only!</h1>

            <form>
                <label for="city">City<br>
                  <input type="text" name="city" value="" required>
                </label><br><br>

                <label for="state">State<br>
                  <input type="text" name="state" value="" required>
                </label><br><br>

                <label for="zip">Zip Code<br>
                  <input type="number" name="zip" value="" required>
                </label><br><br>

                <label for="flip"> <br>
                  <input type="number" name="flip" value="" required>
                </label><br><br>
            </form>

        </div>
    </div>
</div>