<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="https://www.gstatic.com/firebasejs/5.9.3/firebase.js"></script>
    <title>Flip Search</title>
</head>
<body>
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-3">
              
          </div>
      </div>

      <div class="row">

            <div id="map" class="col-md-6 ml-4"></div>

          
            <div id="zillow-large-search-box-widget-container" class="col-md-4"
                 style="width:432px;overflow:hidden;background-color:#e7f1fd;color:#555; font: normal normal normal 13px verdana,arial,sans-serif;line-height:13px;margin:0 auto;padding:0;text-align:center;border:1px solid #adcfff;letter-spacing:0;text-transform:none;">
                <section id="overlay">
                    <h1 id="title">
                        <i class="fas fa-home"></i>
                        FlipSearch
                    </h1>
                </section>
                <iframe scrolling="no"
                        src="https://www.zillow.com/widgets/search/LargeSearchBoxWidget.htm?did=zillow-large-search-box-iframe-widget&type=iframe&rgname={{city}}+{{state}}&shvi=yes"
                        width="430" frameborder="0" height="400">
                </iframe>
            </div>
      </div>
  </div>

<script src="/static/assets/javascript/app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>
    
</body>
</html>



