
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6 offset-3">
              
          </div>
      </div>

      <div class="row">

            <div id="map" class="col-md-6 ml-4"></div>
          
            <div id="widget-container" class="col-md-4">
                <section id="overlay">
                    <h1 id="title">
                        <i class="fas fa-home"></i>
                        FlipSearch
                    </h1>
                </section>
                {{!-- <section id="z_widget"> --}}
                <iframe id="widget" scrolling="no"
                        src="https://www.zillow.com/widgets/search/LargeSearchBoxWidget.htm?did=zillow-large-search-box-iframe-widget&type=iframe&rgname={{city}}+{{state}}&shvi=yes"
                        width="430" frameborder="0" height="400">
                </iframe>
                {{!-- </section> --}}
            </div>
      </div>
  </div>

<script src="/static/assets/javascript/app.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>