<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-3">

        </div>
    </div>

    <div class="row">

        <div id="map" class="col-md-6 ml-4"></div>

        <div id="widget-container" class="col-md-4">
            <section id="overlay">
                <h1 class="animated flip delay-1s" id="title">
                    <i class="fas fa-home animated flip delay-2s"></i>
                    FlipSearch
                </h1>
            </section>
            <section>
                <iframe id="widget" scrolling="no"
                    src="https://www.zillow.com/widgets/search/LargeSearchBoxWidget.htm?did=zillow-large-search-box-iframe-widget&type=iframe&rgname={{city}}+{{state}}&shvi=yes"
                    width="430" frameborder="0" height="385">
                </iframe>
            </section>
            <section>
                <section id="overlay-2"><h1>Home Flipping Rate</h1></section>
                <iframe id="chloro-map" frameborder="0" marginheight="0" marginwidth="0" title="data visualization"
                    allowtransparency="true" allowfullscreen="true" class="tableauViz"
                    width="430" height="150"
                    src="https://public.tableau.com/views/2017HomeFlipsbyZipHeatMap/Dashboard1?:embed=y&amp;:showVizHome=no&amp;:host_url=https%3A%2F%2Fpublic.tableau.com%2F&amp;:embed_code_version=3&amp;:tabs=no&amp;:toolbar=yes&amp;:animate_transition=yes&amp;:display_static_image=no&amp;:display_spinner=no&amp;:display_overlay=yes&amp;:display_count=yes&amp;:loadOrderID=0">
                </iframe>
            </section>
        </div>
    </div>
     
    <br>

    <div class="row">  {{!-- New ROW Starting CRIME and CARDS --}}
        <div class="col-md-7 ml-4"> {{!-- COLUMN Starting CRIME --}}

            <div class="crime-stats" id="san_francisco">
                <div>
                    <h2>Crime in San Francisco, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>San Francisco property crime is 79.2. (The US average is 35.4)</h6>
                    <h6>San Francisco violent crime is 39.6. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/sanfranciscocrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="alameda">
                <div>
                    <h2>Crime in Alameda, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Alameda property crime is 37.2. (The US average is 35.4)</h6>
                    <h6>Alameda violent crime is 14.8. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/alamedacrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="albany">
                <div>
                    <h2>Crime in Albany, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Albany property crime is 40.4. (The US average is 35.4)</h6>
                    <h6>Albany violent crime is 12.3. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/albanycrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="berkeley">
                <div>
                    <h2>Crime in Berkeley, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Berkeley property crime is 64.6. (The US average is 35.4)</h6>
                    <h6>Berkeley violent crime is 28.5. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/berkeleycrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="el_cerrito">
                <div>
                    <h2>Crime in El Cerrito, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>El Cerrito property crime is 63.6. (The US average is 35.4)</h6>
                    <h6>El Cerrito violent crime is 23. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/elcerritocrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="emeryville">
                <div>
                    <h2>Crime in Emeryville, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Emeryville property crime is 97.5. (The US average is 35.4)</h6>
                    <h6>Emeryville violent crime is 59.1. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/emeryvillecrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="kensington">
                <div>
                    <h2>Crime in Kensington, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Kensington property crime is 20.6. (The US average is 35.4)</h6>
                    <h6>Kensington violent crime is 8.1. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/kensingtoncrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="oakland">
                <div>
                    <h2>Crime in Oakland, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Oakland property crime is 81.2. (The US average is 35.4)</h6>
                    <h6>Oakland violent crime is 75.5. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/oaklandcrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="orinda">
                <div>
                    <h2>Crime in Orinda, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Orinda property crime is 17.6. (The US average is 35.4)</h6>
                    <h6>Orinda violent crime is 7.5. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/orindacrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="richmond">
                <div>
                    <h2>Crime in Richmond, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>Richmond property crime is 55.1. (The US average is 35.4)</h6>
                    <h6>Richmond violent crime is 46. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/richmondcrime.png" alt="image">
            </div>
    

     
            <div class="crime-stats" id="san_pablo">
                <div>
                    <h2>Crime in San Pablo, California</h2>
                    <h5>Crime is ranked on a scale of 1 (low crime) to 100 (high crime)</h5>
                    <h6>San Pablo property crime is 54.7. (The US average is 35.4)</h6>
                    <h6>San Pablo violent crime is 36.6. (The US average is 22.7)</h6>
                    
                </div>
                <img src="/static/assets/images/sanpablocrime.png" alt="image">
            </div>
        </div> {{!-- End CRIME Column --}}


        <div class="col-md-4 border border-secondary rounded-lg bg-white"> {{!-- Start CARDS Column --}}

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1 mt-5" style="background-color: white;">City:
                <div id="infoCity" class="col-md-12">
                  
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Zip Code:
                <div id="infoZip" class="col-md-12">
                
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Number of Residential Properties:
                <div id="infoRprop" class="col-md-12">
            
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Number of Commerical Properties:
                <div id="infoCprop" class="col-md-12">
        
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Average Year Built:
                <div id="infoYear" class="col-md-12">
            
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Average SqFt of Homes: 
                <div id="infoSqft" class="col-md-12">
            
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Number of Homes Sold 2019 (by ZIP):
                <div id="infoSales19" class="col-md-12">
    
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Percentage of Homes Flipped in 2019:
                <div id="infoFp19" class="col-md-12">
    
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Homes Flipped in 2019:
                <div id="infoFh19" class="col-md-12">

                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Number of Homes Sold 2018 (by ZIP):
                <div id="infoSales18" class="col-md-12">
        
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Percentage of Homes Flipped in 2018:
                <div id="infoFp18" class="col-md-12">
    
                </div>
            </div>

            <div class="row ml-1 mr-1 pl-2 pt-1 pb-1" style="background-color: white;">Homes Flipped in 2018:
                <div id="infoFh18" class="col-md-12">

                </div>
            </div>

        </div>{{!-- End CARDS Column --}}
    </div> {{!-- End CRIME and CARDS Row --}}


    <script src="/static/assets/javascript/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{google_api_key}}&callback=initMap"></script>
    <script src="https://public.tableau.com/javascripts/api/viz_v1.js"></script>

