<section>
    <h1>Flip Search</h1>
</section>

<section>
    <label>user name</label>
</section>
<section>
    <input type="text" id="username">
</section>

<section>
    <label>password</label>
</section>
<section>
    <input type="text" id="password">
</section>

<section>
    <button id="login">Login</button>
</section>

<script src="/static/assets/javascript/login.js"></script>