<div class="container-fluid">
    <div class="row mt-5" >
        <section id="login" class="col-md-6 offset-3 border border-primary rounded-lg" style="background-color: white;">

            <div class="row" style="z-index: 5;">
                <section class="col-md-12 mt-3 pt-5">
                    <h1 class="animated flip delay-1s text-center"><i
                            class="fas fa-home animated flip delay-2s"></i>FlipSearch</h1>
                </section>
            </div>

            <section class="row pt-2 pb-1">
                <label class="col-md-10 offset-1">Username:<br>
                    <input type="name" class="col-md-11 mb-2" id="username" placeholder="username" required>
                </label><br><br>
            </section>

            <section class="row pt-2 pb-1">
                <label class="col-md-10 offset-1">Password:<br>
                    <input type="password" class="col-md-11 mb-2" id="password" placeholder="password" required>
                </label>
            </section>

            <section class="row pt-3 pb-5">
                <button id="submit" class="col-md-4 offset-4 mb-2 btn btn-block btn-primary">Login</button>
            </section>

        </section>

        <section id="loading">
            <img src="https://media.giphy.com/media/kodQslB005JIc/giphy.gif">
        </section>


    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
<script src="/static/assets/javascript/login.js"></script>