<section id="login">
    <section>
        <h1>Flip Search</h1>
    </section>

    <section>
        <label>user name </label>
        <input type="text" id="username">
    </section>

    <section>
        <label>password </label>
        <input type="text" id="password">
    </section>

    <section>
        <button id="submit">Login</button>
    </section>
</section>

<section id="loading">
    <img src="https://media.giphy.com/media/kodQslB005JIc/giphy.gif">
</section>

<script src="/static/assets/javascript/login.js"></script>